<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">



<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Title Of Site -->
	<title>Thefoody - Order Online Portal Responsive HTML Template</title>
	<meta name="description" content="TheFoody is a food ordering platform which brings restaurants and food lovers together. Food ordering online is easier than any other platforms.">
	<meta name="keywords" content="food, order online, restaurant, reservation, book a table, foodies, cafe, recipes, menu, dishes, chefs and cooking experts ">
	<meta name="author" content="iglyphic">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link  th:replace="~{fragment/outil::css}"/>
	
</head>


<body class="not-transparent-header">

	<!-- start Container Wrapper -->
	<div class="container-wrapper">

		<!-- start Header -->
		<header id="header">
			<!-- start Navbar (Header) -->
			<nav class="navbar navbar-default navbar-fixed-top navbar-sticky-function">

				<div class="container">

					<div class="logo-wrapper">
						<div class="logo">
							<a href="/"><img th:src="@{/images/logo-51x70.png}" alt="Logo" /></a>
						</div>
					</div>

					<div id="navbar" class="navbar-nav-wrapper navbar-arrow">

						<ul class="nav navbar-nav" id="responsive-menu">
							<li>
								<a href="/">Accueil</a>
								<ul>
									<li><a href="/accueil/client/1">Commander</a></li>
									<li><a href="all-cuisines.html">Catégorie</a></li>
								</ul>
							</li>

							<li>
								<a href="/restaurant/register">Devenir partenaire</a>
							</li>
							<li>
								<a href="">Information</a>
								<ul>
									<li><a href="how-it-work.html">Guide</a></li>
									<li><a href="about-us.html">A propos de nous</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li><a href="privacy-policy.html">Politique de confidentialité</a></li>
								</ul>
							</li>

						</ul>

					</div><!--/.nav-collapse -->

					<div class="nav-mini-wrapper">
						<ul class="nav-mini sign-in">
							<li><a href="/restaurant/login"><font size="3">S'identifier</font></a></li>
						</ul>
					</div>

				</div>

				<div id="slicknav-mobile"></div>

			</nav>
			<!-- end Navbar (Header) -->
		</header>
		<!-- end Header -->

		<!-- start Main Wrapper -->
		<div class="main-wrapper">

			<!-- start hero-header -->
			<div class="breadcrumb-wrapper">
			
				<div class="container">
				
					<ol class="breadcrumb-list">
						<li><a href="/">Home</a></li>
						<li><span>Mot de passe oublié</span></li>
					</ol>
					
				</div>
				
			</div>
			<!-- end hero-header -->

			<div class="login-container-wrapper">	
	
				<div class="container">

					<div class="row">
					
						<div class="col-md-10 col-md-offset-1">
						
							<div class="row">

								<div class="col-sm-6 col-sm-offset-3">
								
									<div class="login-box-wrapper">
										<form action="/restaurant/reset" method="post" id="form">
										<div class="modal-header">
											<h4 class="modal-title text-center">Réinitialiser votre mot de passe.</h4>
										</div>

										<div class="modal-body">
											<div class="row gap-20">
												
												<div class="col-sm-12 col-md-12">

													<div class="form-group"> 
														<label>Adresse e-mail</label>
														<input class="form-control" id="email"  name="email" placeholder="Entrer votre adresse e-mail" type="text">
														<small></small>
													</div>
												

													<div class="form-group">
														<label class="control-label">Mot de passe</label>
														<input type="password" name="password" id="password" class="form-control" placeholder="Entrer le nouveau mot de passe">
														<small></small>
													</div>
													<div class="form-group">
														<label class="control-label">Confirmer Mot de passe</label>
														<input type="password" name="password2" id="password2" class="form-control" placeholder="Confirmer le mot de passe">
														<small></small>
													</div>
												</div>
											</div>
										</div>

										<div class="modal-footer text-center">
											<button type="submit" class="btn btn-primary">Réinitialiser</button>
										</div>
										</form>
									</div>

								</div>
							
							</div>
							
						</div>
						
					</div>

				</div>
			
			</div>

			<!-- start footer -->
			<footer class="footer-wrapper-area">

				<!-- start footer area -->
				<div class="footer-area-content">
					<!-- Newsletter -->
					
					<!-- END: Newsletter -->

					<div class="container">
						<div class="footer-wrapper style-3">
							<footer class="type-1">
								<div class="footer-columns-entry">
									<div class="row">
										<div class="col-md-4 col-sm-4">
											<h3 class="column-title">Cuisines populaires</h3>
											<ul class="column">
												<li><a href="/accueil/cuisines">Tout type de cuisine</a></li>
												<th:block  th:each="resto:${restaurants}">
													<li><a th:href="*{'/accueil/client'+resto.id}"><span  th:text="${resto.typeCuisine}"></span></a></li>
												</th:block>
											</ul>
											<div class="clear"></div>
										</div>

										<div class="col-md-4 col-sm-4">
											<h3 class="column-title">Restaurants</h3>
											<ul class="column">
												<th:block  th:each="resto:${restaurants}">
													<li><a th:href="*{'/accueil/client'+resto.id}"><span  th:text="${resto.nomResto}"></span></a></li>
												</th:block>
											</ul>
											<div class="clear"></div>
										</div>

										<div class="col-md-3 col-sm-3">
											<h3 class="column-title">Click.Resto</h3>
											<ul class="column">
												<li><a href="/accueil/apropos">A propos de nous</a></li>
												<li><a href="/accueil/policy"> Politique de confidentialité</a></li>
												<li><a href="/restaurant/register">Devenir partenaire</a></li>

											</ul>
											<div class="clear"></div>
										</div>
									</div>
								</div>
							</footer>
						</div>
					</div>


				</div>
				<!-- footer area end -->

				<div class="bottom-footer">

					<div class="container">

						<div class="row">

							<div class="col-sm-6 col-md-6">

								<p class="copy-right">&#169; Copyright 2022 CDAN-02</p>

							</div>
							<div class="col-sm-6 col-md-6">
								<ul class="bottom-footer-menu for-social">
									<li><a href="#"><i class="ri ri-twitter" data-toggle="tooltip" data-placement="top" title="twitter"></i></a></li>
									<li><a href="#"><i class="ri ri-facebook" data-toggle="tooltip" data-placement="top" title="facebook"></i></a></li>
									<li><a href="#"><i class="ri ri-google-plus" data-toggle="tooltip" data-placement="top" title="google plus"></i></a></li>
									<li><a href="#"><i class="ri ri-youtube-play" data-toggle="tooltip" data-placement="top" title="youtube"></i></a></li>
								</ul>
							</div>

						</div>

					</div>

				</div>

			</footer>
			<!-- end footer -->
			
		</div>
		<!-- end Main Wrapper -->

	</div> <!-- / .wrapper -->
	<!-- end Container Wrapper -->
 
 
<!-- start Back To Top -->
<div id="back-to-top">
   <a href="#"><i class="ion-ios-arrow-up"></i></a>
</div>
<!-- end Back To Top -->


<!-- JS -->
	<script th:replace="~{fragment/outil::foot}"/>
	<script>
		let form =  document.getElementById("form");
		form.email.addEventListener('change',()=>{
			validEmail(form.email);
		});
		form.password.addEventListener('change',()=>{
			validPassword(form.password);
		});
		form.password2.addEventListener('change',()=>{
			confirmPassword(form.password,form.password2);
		})
		form.addEventListener('submit',(e)=>{
			if(!validEmail(form.email) || !validPassword(form.password)  || !confirmPassword(form.password, form.password2))
			{
				e.preventDefault();
			}
		});
		const confirmPassword =  function (inputPassword,inputPassword2) {
			let  small = inputPassword2.nextElementSibling;
			if(inputPassword.value!=inputPassword2.value)
			{
				small.innerHTML = "Les mots de passe sont différents";
				small.classList.add("text-danger");
				return false;
			}else{
				small.innerHTML = "";
				return true;
			}
		}
		const validPassword = function (inputPassword) {
			let small = inputPassword.nextElementSibling;
			if(inputPassword.value.length<8)
			{
				small.innerHTML = "Le mot de passe est trop court";
				small.classList.add("text-danger");
				return false;
			}else{
				small.innerHTML ="";
				return true;
			}
		};
		const validEmail = function (inputEmail) {
			var re = /\S+@\S+\.\S+/;
			let testEmail=re.test(inputEmail.value);
			let small = inputEmail.nextElementSibling;
			if(!testEmail)
			{
				small.innerHTML = "E-mail non valide";
				small.classList.add("text-danger");
				return false;
			}else{
				small.innerHTML = "";
				return true;
			}
		};
	</script>

</body>




</html>