<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Title Of Site -->
	<title>Clik.Resto || Accueil</title>
	<meta name="description" content="TheFoody is a food ordering platform which brings restaurants and food lovers together. Food ordering online is easier than any other platforms.">
	<meta name="keywords" content="food, order online, restaurant, reservation, book a table, foodies, cafe, recipes, menu, dishes, chefs and cooking experts ">
	<meta name="author" content="iglyphic">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
	<link  th:replace="~{fragment/outil::css}"/>

	<link th:href="@{/css/style-produit.css}" rel="stylesheet">
	<link th:href="@{/css/elegant-icons.css}" rel="stylesheet">
	<!-- order online css -->
	<link th:href="@{/css/order-online.css}" rel="stylesheet" type="text/css">

	<style>
		.hero{
			background-image:url('/images/hero-header/index-banner.png');
		}
		.paralla{
			background-image: url('/images/reparallax-one.jpg');
		}
	</style>

</head>


<body class="home">

	<div id="introLoader" class="introLoading"></div>

	<!-- start Container Wrapper -->
	<div class="container-wrapper">

		<!-- start Header -->
		<header id="header">
			<!-- start Navbar (Header) -->
			<nav class="navbar navbar-default navbar-fixed-top navbar-sticky-function">

				<div class="container">

					<div class="logo-wrapper">
						<div class="logo">
							<a href="/"><img th:src="@{/images/logo-51x70.png}"  alt="Logo" /></a>
						</div>
					</div>

					<div id="navbar" class="navbar-nav-wrapper navbar-arrow">

						<ul class="nav navbar-nav" id="responsive-menu">
							<li>
								<a href="/">Accueil</a>

							</li>

							<li>
								<a href="/restaurant/register">Devenir Partenaire</a>
							</li>
							<li>
								<a href="">Information</a>
								<ul>
									<li><a href="/accueil/how">Guide</a></li>
									<li><a href="/accueil/apropos">A propos de nous</a></li>
									<li><a href="/accueil/contact">Contact</a></li>
									<li><a href="/accueil/policy">Politique de confidentialité</a></li>
								</ul>
							</li>

						</ul>

					</div><!--/.nav-collapse -->

					<div class="nav-mini-wrapper">
						<ul class="nav-mini sign-in">
							<li><a href="/restaurant/login"><font size="3">S'identifier</font></a></li>
						</ul>
					</div>

				</div>

				<div id="slicknav-mobile"></div>

			</nav>
			<!-- end Navbar (Header) -->
		</header>
		<!-- end Header -->

		<!-- start Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- start hero-header -->
			<div class="hero" >
				<div class="container">

					<h1>titiller vos papilles</h1>
					<p>Découvrez une sélection étonnante de restaurants locaux.</p>

					<div class="main-search-form-wrapper">
					
						<form>
					
							<div class="form-holder">
								<div class="row gap-0">
								
									<div class="col-xss-6 col-xs-6 col-sm-6">
										<input class="form-control" placeholder="ex : Chicky" />
									</div>
									
									<div class="col-xss-6 col-xs-6 col-sm-6">
										<input class="form-control" placeholder="Trouver un restaurant" />
									</div>
									
								</div>
							
							</div>
							
							<div class="btn-holder">
								<button class="btn"><i class="ion-android-search"></i></button>
							</div>
						
						</form>
						
					</div>
				

				</div>
				
			</div>
			<!-- end hero-header -->
			

			<!-- start order process -->
			<div class="order-process-step bg-light pt-80 pb-80">
				<div class="container frontend">

					<div class="clearfix"></div>

					<!--Facts-->

					<!--Process Block-->

					<div class="block process-block">
						<!--<h2>La démarche</h2>
                            <h5>Les 4 étapes du succès</h5>-->

						<div class="row text-center">
							<ol class="process">
								<li class="col-md-3 col-sm-6 col-xs-6"><i class="fa fa-qrcode" aria-hidden="true"></i>
									<h4>Scanner le Qr Code</h4>

								</li>
								<li class="col-md-3 col-sm-6 col-xs-6"> <i class="fa fa-bullseye"></i>
									<h4>Choisir le menu</h4>

								</li>
								<li class="col-md-3 col-sm-6 col-xs-6"> <i class="fa fa-money"></i>
									<h4>Réserver et payer</h4>

								</li>
								<li class="col-md-3 col-sm-6 col-xs-6"> <i class="fa fa-thumbs-o-up"></i>
									<h4>Bon appétit!</h4>

								</li>
							</ol>
						</div>

						<div class="clearfix"></div>
					</div>
					<!--/Process Block-->
					<div class="clearfix"></div>

					<!--/Facts-->

				</div>
			</div>
			<!-- end order process -->
			
			<div class="pt-80 pb-80">

				<div class="container">
				
				<div class="row col-md-12">
					
					<div class="col-md-12">
					
						<div class="section-title">
                                                    <h2 class="text-left text-center-sm">Les restaurants enrôlés</h2>
						</div>
						
					        <div class="row">
                                      <div class=" col-6" >
                                            <div class="product-item" >
												<th:block th:each="produit:${menu}">
													<div class="pi-pic  ">
														<a th:href="*{'/accueil/client/'+produit.restaurantId}"><img th:src="*{'data:image/jpeg;base64,'+produit.image}" alt=""></a>
													</div>
													<div class="pi-text">
														 <div class="catagory-name" th:text="${produit.categorie.nom}">catégorie</div>
															 <a th:href="*{'/accueil/client/'+produit.restaurantId}">
																 <h5 th:text="${produit.nom}">Pure Pineapple</h5>
															 </a>
														<div class="product-price" th:text="${produit.prix}">
																				$14.00
														</div>
													</div>
												</th:block>
											</div>
                                        </div>
							</div>
					</div>
			
				</div>

				</div>
				
			</div>

			<!-- start banner section -->
			<div class="paralla bt-block-home-parallax pt-80 pb-80" >
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="lookbook-product">
								<h2>Une nourriture délicieuse est à portée de clic ! Explorez nos restaurants enrôlés - nous sommes convaincus que vous allez les adorer.</h2>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end banner section -->
			
			<div class="container pt-80 pb-80">

				<div class="row">
					
					<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
					
						<div class="section-title">
						
							<h3>Découvrez un nouveau restaurant, réservez maintenant !</h3>
							
						</div>
					
					</div>
				
				</div>
				
				<div class="row gap-40" >
				
					<div class="col-xs-4 col-sm-2 mb-20" th:each="cuisine : ${cuisines}">
							<a th:href="*{'/accueil/client/'+cuisine.id}"><img th:src="*{'data:image/jpeg;base64,'+cuisine.logo}" alt="image" /></a>
						</div>

				
				</div>

			
			</div>


			<!-- Download App Start -->
			
			<!--Download App End -->

			<!-- start footer -->
			<footer class="footer-wrapper-area">

				<!-- start footer area -->
				<div class="footer-area-content">
					<!-- Newsletter -->
					
					<!-- END: Newsletter -->

					<div class="container">
						<div class="footer-wrapper style-3">
							<footer class="type-1">
								<div class="footer-columns-entry">
									<div class="row">
										<div class="col-md-4 col-sm-4">
											<h3 class="column-title">Cuisines populaires</h3>
											<ul class="column">
												<li><a href="/accueil/cuisines">Tout type de cuisine</a></li>
												<th:block th:each="cuisine:${cuisines}">
													<li><a th:href="*{'/accueil/client/'+cuisine.id}"><span  th:text="${cuisine.typeCuisine}"></span></a></li>
												</th:block>

											</ul>
											<div class="clear"></div>
										</div>

										<div class="col-md-4 col-sm-4">
											<h3 class="column-title">Restaurants</h3>
											<ul class="column">
												<th:block th:each="restaurant: ${cuisines}">
													<li><a th:href="*{'/accueil/client'+restaurant.id}"><span  th:text="${restaurant.nomResto}"></span></a></li>
												</th:block>
											</ul>
											<div class="clear"></div>
										</div>

										<div class="col-md-4 col-sm-4">
											<h3 class="column-title">Click.Resto</h3>
											<ul class="column">
												<li><a href="/accueil/apropos">A propos de nous</a></li>
												<li><a href="/accueil/policy"> Politique de confidentialité</a></li>
											</ul>
											<div class="clear"></div>
										</div>
									</div>
								</div>
							</footer>
						</div>
					</div>


				</div>
				<!-- footer area end -->
				
				<div class="bottom-footer">
				
					<div class="container">
					
						<div class="row">
						
							<div class="col-sm-6 col-md-6">
					
								<p class="copy-right">&#169; Copyright 2022 CDAN-02</p>
								
							</div>
							<div class="col-sm-4 col-md-4">
								<ul class="bottom-footer-menu for-social">
									<li><a href="#"><i class="ri ri-twitter" data-toggle="tooltip" data-placement="top" title="twitter"></i></a></li>
									<li><a href="#"><i class="ri ri-facebook" data-toggle="tooltip" data-placement="top" title="facebook"></i></a></li>
									<li><a href="#"><i class="ri ri-google-plus" data-toggle="tooltip" data-placement="top" title="google plus"></i></a></li>
									<li><a href="#"><i class="ri ri-youtube-play" data-toggle="tooltip" data-placement="top" title="youtube"></i></a></li>
								</ul>
							</div>
						
						</div>

					</div>
					
				</div>
			
			</footer>
			<!-- end footer -->
			
		</div>
		<!-- end Main Wrapper -->

	</div> <!-- / .wrapper -->
	<!-- end Container Wrapper -->
 
 
<!-- start Back To Top -->
<div id="back-to-top">
   <a href="#"><i class="ion-ios-arrow-up"></i></a>
</div>
<!-- end Back To Top -->

	<img th:src="@{/images/hero-header/index-banner.png}" class="hidden">
	<img th:src="@{/images/reparallax-one.jpg}" class="hidden">
<!-- JS -->
	<script th:replace="~{fragment/outil::foot}"/>


</body>



</html>